:root {
  --color1: #1A3636;
  --color2: #40534C;
  --color3: #677D6A;
  --color4: #FFE8C7;
  --icon-filter: invert(96%) sepia(25%) saturate(7341%) hue-rotate(295deg) brightness(122%) contrast(113%);
  /* 
    #FFE8C7 #2B5959 #D6BD98
  */
}

@font-face {
  font-family: aqua;
  src: url(./aqua.ttf);
}

body {
  height: 100vh;
  margin: 0;
  color: var(--color4);
  font-family: roboto;
  background-color: var(--color1);
}

i {
  color: var(--color4);
  margin-right: 8px;
}

.pfp {
  height: 45px;
  border-radius: 50%;
}

.icon {
  height: 25px;
  filter: var(--icon-filter);
}


#container {
  height: 100%;
  display: grid;
  grid-template: 1fr 4fr / min(30%, 280px) 3fr;
}

#header {
  background-color: var(--color2);
  display: grid;
  grid-template: 1fr 2fr / 2fr 1fr;
  padding: 10px 40px;
}


#header div {
  display: flex;
  align-items: center;
}

#header #profile-div {
  justify-content: flex-end;
  gap: 10%;
}

#header #greeting-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

#header #greeting-div .text {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#header #greeting-div h1,
#greeting-div p {
  margin-top: 0;
  margin-bottom: 5px;
}

#greeting-div .pfp{
  height: 90px;
}

#header #buttons-div {
  justify-content: flex-end;
  gap: 35px;
}

button {
  border: none;
  border-radius: 6px;
  background-color: var(--color4);
  color: var(--color1);
  padding: 6px 12px;
  font-family: inherit;
}

input {
  border: none;
  border-radius: 3px;
  background-color: var(--color4);
  width: min(500px, 80%);
  height: 20px;
}

#sidebar {
  background-color: var(--color3);
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#sidebar h1 {
  margin-left: 20px;
  margin-bottom: 0;
  font-family: aqua;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
}
#sidebar ul li {
  font-size: 20px;
  /*margin: 20px;*/
  padding: 15px 20px;
}

#sidebar ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#content {
  display: grid;
  grid-template: 0.08fr 1fr / 3fr 1fr;
  padding: 20px;
  grid-column-gap: 25px;
}

.section-title {
  margin: 8px 0 8px 0;
}

#content #projects-div {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 25px;
}

.card{
  background-color: var(--color2);
  padding: 5px 10px;
  border-radius: 5px;
}

#projects-div .card {
  border-left: 5px solid var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  margin: 0
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

#projects-div .card-title {
  font-size: 20px;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

#at-div {
  display: grid;
  grid-template: 4fr 1fr 4fr / 1fr;
}

#at-div h2 {
  display: flex;
  align-items: flex-end;
}

#at-div .card {
  padding: 20px;
  display: grid;
  grid-auto-flow: row;
}

#at-div .card-title {
  font-size: 95%;
  margin-top: 5px;
}

#at-div p {
  font-size: 90%;
}

#at-div .trending p:nth-child(odd){
  font-weight: bold;
}
